@{
    ViewBag.Title = "HtmltoPDFBG";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="Grid">
        <style>
            #imgLogo
            {
                height: 50px;
                width: 90px;
            }
            #imgHead
            {
                height: 200px;
                width: 600px;
            }
            #imgTable
            {
                height: 30px;
                width: 30px;
            }
            
            #imgFooter1
            {
                height: 50px;
                width: 90px;
            }
            
            table
            {
                width: 100%;
            }
            tr
            {
                text-align: center;
            }
            .row
            {
                display: flex;
            }
            
            .column
            {
                flex: 33.33%;
                padding: 5px;
            }
            .BG
            {
                background-color: Green;
                
               
                
                
            }
            .data
            {
                background-color: #daedf4;
            }
        </style>
        <div class="BG" >
            <br />
            <div class="data">
                @* <input type="text" id="GridHtml3" name="GridHtml7" />*@ @* <div class="testdiv">*@
                <img src="http://localhost:4682/UploadFile/evaly.jpg" alt="" id="imgLogo" runat="server"
                    replace> <br />
                <p style="text-align: center; font-weight: bold; color: black;">
                    <img src="http://localhost:4682/UploadFile/BD.jpg" alt="" id="imgHead" runat="server"
                        replace>
                </p>
                <h3 style="color: Green; text-align: center; font-weight: bold">
                    POINTS TABLE</h3>
                <p style="color: Black; text-align: center; font-weight: bold">
                    ICC World Cup Super League 2020 - 2020/23
                </p>
                <table border="1">
                    <tr style="background-color: Green; color: white">
                        <td>
                            Flag
                        </td>
                        <td style="background-color: Green; color: white">
                            TEAM NAME
                        </td>
                        <td>
                            MTS
                        </td>
                        <td>
                            WIN
                        </td>
                        <td>
                            LOSS
                        </td>
                        <td>
                            POINT
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                                replace>
                        </td>
                        <td>
                            BAN
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://localhost:4682/UploadFile/India.jpg" alt="" id="imgTable" runat="server"
                                replace>
                        </td>
                        <td>
                            India
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://localhost:4682/UploadFile/Aus.jpg" alt="" id="imgTable" runat="server"
                                replace>
                        </td>
                        <td>
                            Australia
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://localhost:4682/UploadFile/England.jpg" alt="" id="imgTable" runat="server"
                                replace>
                        </td>
                        <td>
                            England
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://localhost:4682/UploadFile/NZ.png" alt="" id="imgTable" runat="server"
                                replace>
                        </td>
                        <td>
                            New Zealand
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://localhost:4682/UploadFile/Pak.png" alt="" id="imgTable" runat="server"
                                replace>
                        </td>
                        <td>
                            Pakistan
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://localhost:4682/UploadFile/WI.png" alt="" id="imgTable" runat="server"
                                replace>
                        </td>
                        <td>
                            West Indies
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            5
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            50
                        </td>
                    </tr>
                </table>
                </div>
                 <br />
                <br />
                <br />
                <br />
                 <br />
                <br />
                <br />
                <br />
                 <br />
                <br />
                <br />
                <br />
            <table>
                    <tr>
                        <td class="col-sm-6 col-md-6 col-lg-6" style="text-align: center">
                            <img src="http://localhost:4682/UploadFile/icc.jpg" alt="" id="imgFooter1" runat="server"
                                replace>
                        </td>
                        <td class="col-sm-6 col-md-6 col-lg-6" style="text-align: center">
                            <img src="http://localhost:4682/UploadFile/GTV.png" alt="" id="imgFooter1" runat="server"
                                replace>
                        </td>
                    </tr>
                </table>
        </div>
        
  <p style="text-align:left;font-weight: bold; color:Green">International Cricket Council. icc-cricket.com.</p>
  <p></p>
</footer>
    </div>
</body>
</html>
@using (Html.BeginForm("Render", "Class", FormMethod.Post))
{
    <input type="hidden" name="contentHtml" />
    <input type="submit" id="btnSubmit" value="Export2" />
}
<script>
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='contentHtml']").val($("#Grid").html());
            //            $("#GridHtml").val($("#Grid").html());
        });
    });
</script>

