@{
    ViewBag.Title = "test";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="../../Content/themes/TestStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="testheader">
        <style>
            #test
            {
                color: red;
            }
              #imgTabletest
            {
                height: 30px;
                width: 30px;
            }
            
          
            .tablewidth
            {
                width:100%;
            }
            
               @@media print
            {
                .tablewidth
            {
                width:700px;
                
                }
            } 
         
            table
            {
                width: 100%;
            }
            td
            {
                width: 50%;
                text-align: center;
            }
        </style>
        <table class="tablewidth">
            <tr>
                <td class="col-sm-6 col-md-6 col-lg-6" style="text-align: Left">
                    <h3>
                        Pakiza Technovation Limited</h3>
                </td>
                <td class="col-sm-6 col-md-6 col-lg-6" style="text-align: Center">
                    <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTabletest" runat="server"
                        replace>
                </td>
            </tr>
        </table>
    </div>
    <div id="Grid">
        <style type="text/css">
            table
            {
                width: 100%;
                background-color:White;
                border-collapse:collapse;
              
            }
            tr
            {
               
            }
            td
            {
                width: 16%;
                font-size:small;
                text-align:center;
               
            }
            thead { display:table-header-group }
    tfoot { display:table-footer-group }
                #imgLogo
            {
                height: 70px;
                width: 120px;
            }
            
            #imgHead
            {
                height: 380px;
                width: 1050px;
            }
              .testAsh
            {
                height: 180px;
                width: 600px;
            }
                 #imgTable
            {
                height: 35px;
                width: 30px;
            }
               @@media print
            {
          
                #imgTable
            {
                height: 5px;
                width: 5px;
            }
              .testAsh
            {
                height: 100px;
                width: 200px;
            }
            @@top-center {
    content: string(doctitle);
  }
            
              }
               #imgFooter1
            {
                height: 50px;
                width: 90px;
            }
             .BG
            {
                background-color: Green;
            }
        </style>
        <div class="BG">
            <img src="http://localhost:4682/UploadFile/evaly.jpg" alt="" id="imgLogo" runat="server"
                replace>
            <br />
            <table>
            <tr>
            <td  style="text-align: center; font-weight: bold; color: black;">
                <img src="http://localhost:4682/UploadFile/BD.jpg" alt="" class="testAsh"; runat="server"
                    replace>
                    </td>
            </tr>
            </table>
            <h3 style="color: Green; text-align: center; font-weight: bold">
                POINTS TABLE</h3>
            <p style="color: Black; text-align: center; font-weight: bold">
                ICC World Cup Super League 2020 - 2020/23
            </p>
          <br />
          <br />
            <table  style="repeat-header: yes; repeat-footer: yes;">
                <thead style="text-align: center; string-set: doctitle content()">
                    <tr style="background-color: #ADD8E6; color: Green;">
                        <th>
                            Flag
                        </th>
                        <th>
                            TEAM NAME
                        </th>
                        <th>
                            MTS
                        </th>
                        <th>
                            WIN
                        </th>
                        <th>
                            LOSS
                        </th>
                        <th>
                            POINT
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/India.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/NZ.png" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Pak.png" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/WI.png" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/England.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Aus.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/England.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Aus.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Pak.png" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr">
                    <td >
                        <img src="http://localhost:4682/UploadFile/India.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        Stone Age tools found in Bangladesh indicate human habitation for over 20,000 years,[39]
                        and remnants of Copper Age settlements date back 4,000 years.[39] Ancient Bengal
                        was settled by Austroasiatics, Tibeto-Burmans, Dravidians and Indo-Aryans in consecutive
                        waves of migration.<br />
                        The Mughal Empire controlled Bengal by the 17th century. During the reign of Emperor
                        Akbar, the Bengali agrarian calendar was reformed to facilitate tax collection<br />
                        das.<br />
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Aus.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/England.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/NZ.png" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        BAN
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/India.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        India
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Aus.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        Australia
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/England.jpg" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        England
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/NZ.png" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        New Zealand
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/Pak.png" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        Pakistan
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://localhost:4682/UploadFile/WI.png" alt="" id="imgTable" runat="server"
                            replace>
                    </td>
                    <td>
                        West Indies
                    </td>
                    <td>
                        8
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        50
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <br />
            <br />
            <br />@*
            <div>
                <table>
                    <tr>
                        <td class="col-sm-6 col-md-6 col-lg-6" style="text-align: Center">
                            <img src="http://localhost:4682/UploadFile/icc.jpg" alt="" id="imgFooter1" runat="server"
                                replace>
                        </td>
                        <td class="col-sm-6 col-md-6 col-lg-6" style="text-align: Center">
                            <img src="http://localhost:4682/UploadFile/GTV.png" alt="" id="imgFooter1" runat="server"
                                replace>
                        </td>
                    </tr>
                </table>
            </div>*@
        </div>
    </div>
    <br />
    <br />
    <br />
    <div id="testfooter">
        <style>
            #test
            {
                color: red;
            }
            #imgTable
            {
                height: 30px;
                width: 30px;
            }
            
            .tablewidth
            {
                width:100%;
            }
            
               @@media print
            {
                .tablewidth
            {
                width:700px;
                
                }
            } 
         
        
        </style>
        <table class="tablewidth">
            <tr>
                <td class="col-sm-6 col-md-6 col-lg-6" style="text-align: Left">
                    <h5>
                        Phone:84958734985734957349857</h5>
                </td>
                <td class="col-sm-6 col-md-6 col-lg-6" style="text-align: Center">
                    <img src="http://localhost:4682/UploadFile/Ban.jpg" alt="" id="imgTable" runat="server"
                        replace>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
@using (Html.BeginForm("Render", "Class", FormMethod.Post))
{
    <input type="hidden" name="contentHtml" />
    <input type="hidden" name="headerHtml2" />
    <input type="hidden" name="FooterHtml2" />
    <input type="submit" id="btnSubmit" value="Export2" />
}
<script>
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='contentHtml']").val($("#Grid").html());
            $("input[name='headerHtml2']").val($("#testheader").html());
            $("input[name='FooterHtml2']").val($("#testfooter").html());
        });
    });
</script>
