<!DOCTYPE html>
<html>
<head>
    <link href="../../css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="Grid">
        <div>
            @* <input type="text" id="GridHtml3" name="GridHtml7" />*@ @* <div class="testdiv">*@
            <img src="http://localhost:3367/UploadFile/Pakiza.png" alt="" id="imgs" runat="server"
                replace>
            <p style="text-align: right">
                Kazi Shakhawat Hossain
                <br />
                Business Automation<br />
                Pakiza Technovation Limited.
            </p>
            <h5 style="color: Black; text-align: center">
                Company's Information
            </h5>
        </div>
        <table border="1">
            <tr>
                <td>
                    Company
                </td>
                <td>
                    Contact
                </td>
                <td>
                    Country
                </td>
            </tr>
            <tr>
                <td>
                    Alfreds Futterkiste
                </td>
                <td>
                    Maria Anders
                </td>
                <td>
                    Germany
                </td>
            </tr>
            <tr>
                <td>
                    Centro comercial Moctezuma
                </td>
                <td>
                    Francisco Chang
                </td>
                <td>
                    Mexico
                </td>
            </tr>
            <tr>
                <td>
                    Ernst Handel
                </td>
                <td>
                    Roland Mendel
                </td>
                <td>
                    Austria
                </td>
            </tr>
            <tr>
                <td>
                    Island Trading
                </td>
                <td>
                    Helen Bennett
                </td>
                <td>
                    UK
                </td>
            </tr>
            <tr>
                <td>
                    Laughing Bacchus Winecellars
                </td>
                <td>
                    Yoshi Tannamuri
                </td>
                <td>
                    Canada
                </td>
            </tr>
            <tr>
                <td>
                    Magazzini Alimentari Riuniti
                </td>
                <td>
                    Giovanni Rovelli
                </td>
                <td>
                    Italy
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
@using (Html.BeginForm("ExportPDF", "Class", FormMethod.Post))
{
    <input type="hidden" name="GridHtml2" />
    <input type="submit" id="btnSubmit" value="Export2" />
}
<script>
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml2']").val($("#Grid").html());
            //            $("#GridHtml").val($("#Grid").html());
        });
    });
</script>
